@import url("reset.css");

body {
}
.box {/*主框架*/
    width:1000px;
    height:auto;
    margin:0px auto;
    position:relative;
}
.topHeader {
    padding-top:5px;
    height: 20px;
    vertical-align: middle;
    border-bottom: 0px inset #dff5c6;
    font-family: 宋体;
    font-size: 12px;
    color:#488b16;
    margin:0px auto;
    width:1000px;
    background-color:#eef4f7;
}
    .topHeader span {
        width:auto;
        padding:0px 5px;
        position:relative;
        float:left;
    }
    .topHeader .SethomePage {
    text-indent:14px;
    background:url("../image/web/home.png") no-repeat;
    background-position:left center;
    float:left;
    margin-left:380px;
}
    .topHeader .AddFavor {
    text-indent:14px;
    background:url("../image/web/pin.png") no-repeat;
    background-position:left center;
    float:left;
    }

.header {
    background-color: #AADE87;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin:0px auto;
    width: 1000px;
    height: 130px;
    background:url('../image/web/header4.png') repeat-x;
}
.navbar {
    height: 34px;
    width: 1000px;
    margin: 0px 0px 5px 0px;
    padding: 0px;
    position:inherit;
    margin:0px auto;
}
    
    .navbar #nav_left, .navbar #nav_content, .navbar #nav_right {
    position: inherit;
    height: 26px;
    display: block;
    float: left;
    padding: 8px 0px 0px 0px;
    font-family: 宋体;
    font-size: 11pt;
    color: #FFFFFF;
    font-weight: bolder;
    background-color: #77b800;
}
    .navbar #nav_left {
        width: 9px;
    }
    .navbar #nav_content {
        width:983px;
    }
        .navbar #nav_content ul li {
            float:left;
            display:block;
            margin:0px 4px;
            padding:0px 1px;
        }
    .navbar #nav_right {
        width:8px;
    }

/*标题样式*/
.annou_title {
    height: 30px;
    width: 100%;
    position: inherit;
    background-color:#cbee99;
    background:url('../image/web/title_bg.png') repeat;
}
.title_info {
    height: 22px;
    padding-top: 8px;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    font-family: 宋体, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: #4D9801;
    text-indent: 4px;
}
    .title_info p {
    width:auto;
    display:inline-block;
    position:relative;
    float:left;
    }
.title_anno,.title_CenterNews ,.title_LinkAera ,.title_RelaxInfo ,.title_FieldInfo ,.title_TrainInfo,.title_Partner,.title_FriendsLink {
    
}
.title_more {
    /*height: 30px;*/
    width: auto;
    padding-right: 6px;
    display: inline-block;
    float: right;
    font-size: 12px;
    font-weight: normal;
    color: #69B83A;
    position:relative;
}
.footer {
    font-family: 宋体, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #3F740E;
    width: 100%;
    height: 50px;
    float: left;
    clear: both;
    display: block;
    line-height:25px;
    text-align:center;
}
    .footer a {
        font-family: 宋体, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
    }
/*链接标签样式*/
a:link {color: #488b16; text-decoration:none;}
a:visited {color: #488b16; text-decoration:none;}
a:hover {color: #FF6600;text-decoration: none;cursor: pointer;}
a:active {color:#FF6600; text-decoration:none;}