@import url("reset.css");
.SpanDownUp {
    border: thin solid #FFFFFF;
    display: block;
    width: 20px;
    height: 50px;
    float: left;
    position: relative;
}
.SpanDownUp span{
    border: thin solid #FFFFFF;
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    position: relative;
}
    .SpanDownUp img {
        width:20px;
        height:20px;
        margin:2px;
        cursor:pointer;
    }

.departDataul {
    margin: 5px;
    font-family: 宋体, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    background-color: #FFFFFF;
    color: #009933;
    border: thin solid #F0F0F0;
    width: 950px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    position: inherit;
    padding: 2px 0px;
    clear: both;
    cursor:pointer;
}

.departData {
    display: block;
    padding:2px 2px 2px 2px;
    float: left;
    font-family: 宋体, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #006600;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    position:inherit;
    height:50px;
    border-right:1px solid #FFFFFF;
}
.departDatatitle {
    display: block;
    padding: 2px 2px 2px 2px;
    float: left;
    font-family: 宋体, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #006600;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    position: inherit;
    height: 30px;
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: #FFFFFF;
}

    .departData img {
        height:46px;
    }

.WidthOne {
    width:100px;
}
.WidthOneHalf {
    width:150px;
}
.WidthTwo {
    width:200px;
}
.WidthTwoHalf {
    width:250px;
}
.WidthThree {
    width:300px;
}
